@import "tailwindcss";

@layer base {
  * {
    text-wrap: pretty;
  }

  html,
  body,
  main {
    margin: 0;
    height: 100%;
  }

  /* Target all dat.gui elements */
  div.dg.ac * {
    /* Revert to user agent styles (ignore Tailwind preflight) */
    all: revert;
  }
}
